In [9]:
import pandas as pd
import glob

In [10]:
csv_files = glob.glob('f1db-csv/*.csv')

In [11]:
df_merged = pd.read_csv(csv_files[0])

In [12]:
df_merged.head()

          id constructorId   name   fullName
0      adams         adams  Adams      Adams
1      afm-6           afm      6      AFM 6
2      afm-8           afm      8      AFM 8
3  ags-jh21c           ags  JH21C  AGS JH21C
4   ags-jh22           ags   JH22   AGS JH22

In [13]:
df_merged2 = pd.read_csv(csv_files[1])
df_merged2.head()

,id,name,fullName,previousNames,type,direction,placeName,countryId,latitude,longitude,length,turns,totalRacesHeld
0,adelaide,Adelaide,Adelaide Street Circuit,NaN,STREET,CLOCKWISE,Adelaide,australia,-34.927222,138.617222,3.780,16,11
1,aida,Aida,Okayama International Circuit,TI Circuit Aida,RACE,CLOCKWISE,Aida,japan,34.915000,134.221111,3.703,13,2
2,ain-diab,Ain-Diab,Ain-Diab Circuit,NaN,ROAD,CLOCKWISE,Casablanca,morocco,33.578611,-7.687500,7.618,18,1
3,aintree,Aintree,Aintree Motor Racing Circuit,NaN,ROAD,CLOCKWISE,Aintree,united-kingdom,53.476944,-2.940556,4.828,8,5
4,anderstorp,Anderstorp Raceway,Anderstorp Raceway,Scandinavian Raceway,RACE,CLOCKWISE,Anderstorp,sweden,57.264167,13.601389,4.031,8,6

In [69]:
col_lista = []
for file in csv_files:
    # print(file)
    df = pd.read_csv(file)
    for col in df.columns:
        # print(col)
        col_dict = {}
        if col=='id':
            base = file.split('\\f1db-')[-1].replace('.csv', '')
            # print(base)
            partes = base.split('-')
            col_id = partes[0] + ''.join(p.capitalize() for p in partes[1:]) + 'Id'
            print(col_id)
            col_dict['file'] = file
            col_dict['column_id'] = col_id
            col_dict['chave_primaria'] = True 
            col_lista.append(col_dict)
        elif 'Id' in col:
            col_dict['file'] = file
            col_dict['column_id'] = col
            col_dict['chave_primaria'] = False
            col_lista.append(col_dict)
        else:
            pass

chassisId
circuitsId
constructorsId
continentsId
countriesId
driversId
engineManufacturersId
enginesId
entrantsId
grandsPrixId

C:\Users\ruana\AppData\Local\Temp\ipykernel_32692\1515777866.py:4: DtypeWarning: Columns (31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

racesId
tyreManufacturersId

In [70]:
df_column_id = pd.DataFrame(col_lista)

In [73]:
# string = 'f1db-csv\f1db-engine-manufacturers-teste.csv'

# base = string.split('\f1db-')[-1].replace('.csv', '')
# partes = base.split('-')
# camel = partes[0] + ''.join(p.capitalize() for p in partes[1:]) + 'Id'
# camel

In [74]:
df_column_id.head()

,file,column_id,chave_primaria
0,f1db-csv\f1db-chassis.csv,chassisId,True
1,f1db-csv\f1db-chassis.csv,constructorId,False
2,f1db-csv\f1db-circuits.csv,circuitsId,True
3,f1db-csv\f1db-circuits.csv,countryId,False
4,f1db-csv\f1db-constructors-chronology.csv,parentConstructorId,False

In [80]:
df_column_id[['column_id', 'chave_primaria']].drop_duplicates().sort_values('column_id')

                      column_id  chave_primaria
0                     chassisId            True
126                   chassisId           False
116                   circuitId           False
2                    circuitsId            True
1                 constructorId           False
6                constructorsId            True
10                  continentId           False
8                  continentsId            True
9                   countriesId            True
3                     countryId           False
14      countryOfBirthCountryId           False
12                     driverId           False
13                    driversId            True
137                    engineId           False
20         engineManufacturerId           False
17        engineManufacturersId            True
19                    enginesId            True
123                   entrantId           False
21                   entrantsId            True
115                 grandPrixId           False
22                 grandsPrixId            True
15         nationalityCountryId           False
4           parentConstructorId           False
11               parentDriverId           False
24                       raceId           False
114                     racesId            True
16   secondNationalityCountryId           False
31           tyreManufacturerId           False
145         tyreManufacturersId            True

In [75]:
df_column_id['column_id_wo_s'] = df_column_id['column_id'].str.replace('sId', 'Id')

In [85]:
list(df_column_id[['column_id_wo_s']].drop_duplicates().sort_values('column_id_wo_s')['column_id_wo_s'])

['chassiId',
 'circuitId',
 'constructorId',
 'continentId',
 'countrieId',
 'countryId',
 'countryOfBirthCountryId',
 'driverId',
 'engineId',
 'engineManufacturerId',
 'entrantId',
 'grandPrixId',
 'grandsPrixId',
 'nationalityCountryId',
 'parentConstructorId',
 'parentDriverId',
 'raceId',
 'secondNationalityCountryId',
 'tyreManufacturerId']

In [78]:
df_column_id[df_column_id['chave_primaria'] == True]

,file,column_id,chave_primaria,column_id_wo_s
0,f1db-csv\f1db-chassis.csv,chassisId,True,chassiId
2,f1db-csv\f1db-circuits.csv,circuitsId,True,circuitId
6,f1db-csv\f1db-constructors.csv,constructorsId,True,constructorId
8,f1db-csv\f1db-continents.csv,continentsId,True,continentId
9,f1db-csv\f1db-countries.csv,countriesId,True,countrieId
13,f1db-csv\f1db-drivers.csv,driversId,True,driverId
17,f1db-csv\f1db-engine-manufacturers.csv,engineManufacturersId,True,engineManufacturerId
19,f1db-csv\f1db-engines.csv,enginesId,True,engineId
21,f1db-csv\f1db-entrants.csv,entrantsId,True,entrantId
22,f1db-csv\f1db-grands-prix.csv,grandsPrixId,True,grandsPrixId
114,f1db-csv\f1db-races.csv,racesId,True,raceId
145,f1db-csv\f1db-tyre-manufacturers.csv,tyreManufacturersId,True,tyreManufacturerId

In [86]:
from collections import defaultdict

grafo = defaultdict(set)

# for arquivos in id_para_arquivos.values():
#     for i in range(len(arquivos)):
#         for j in range(i + 1, len(arquivos)):
#             grafo[arquivos[i]].add(arquivos[j])
#             grafo[arquivos[j]].add(arquivos[i])

In [87]:
grafo

defaultdict(set, {})

In [93]:
from collections import defaultdict

d = defaultdict(list)  # cria um dicionário que inicia com listas vazias
# d = {}
d['x'].append(1)       # ✅ Funciona: cria a chave 'x' com uma lista e adiciona 1
d['x'].append(2)       # ✅ Funciona: cria a chave 'x' com uma lista e adiciona 1

d['x']

[1, 2]